@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Poppins:wght@300;400;700&display=swap');
/* 
  font-family: 'Dela Gothic One', sans-serif;
  font-family: 'Poppins', sans-serif;
*/

.title{
  font-family: 'Dela Gothic One', sans-serif;
}

.normal-text{
  font-family: 'Poppins', sans-serif;
}